<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">
	
	<select id="findByEmail" resultType="String">
		SELECT email 
		FROM member_tbl
		WHERE email = #{email}
	</select>
	
	<insert id="save">
		INSERT INTO member_tbl (id, name, email, password
								<if test="role != null">
								, role
								</if>
								) 
		VALUES (member_tbl_seq.NEXTVAL, 
				#{name}, 
				#{email}, 
				#{password}
				<if test="role != null">
				, #{role}
				</if> 
				)
	</insert>
	
	<select id="findMemberByEmail" resultType="member">
		SELECT *
		FROM member_tbl
		WHERE email = #{email}
	</select>
	
	<select id="findAll" resultType="member">
		SELECT * 
		FROM member_tbl
	</select>
	
</mapper>

